/* GENERAL */
html {
	scroll-behavior: smooth;
} 
body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	background-color: rgb(248, 247, 234);
} 
section{
	margin-bottom: 5rem;
}
a {
	text-decoration: none;
	color: inherit;
} 
a:hover {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}

h1,h2,h3{
	font-family: 'Amatic SC', cursive;
}
h2{
	font-size: 4rem;
	color: rgb(29, 39, 0);
	font-weight: bold;
	padding-bottom: 2rem;
}
h3{
	font-size: 2.5rem;
	color: rgb(112, 145, 22);
	font-weight: bold;
	padding-bottom: 1rem;
}
p{
	text-align: justify;
}
.listCircle li{
	list-style: circle!important;
}
article{
	margin-bottom: 2rem;
}
.rouleau{
	margin-top: 200px;
}
.inactif {
	display: none;
}
.fa-trash{
	padding-left: 1rem ;
}
.err404{
	font-size: 2rem;
	width: 500px;
	margin: 220px auto;
	color: rgb(196, 20, 20);
}
/* HEADER */
header{
	background-color: rgb(80, 80, 80);
	position: fixed;
		left: 0;
		right: 0;
		top:0;
		z-index: 100;
}
#titrePrimaire{
	display: flex;
	align-items: center;
	
}
#titreSecondaire{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}
#titrePrimaire h1{
	margin: 0;
	color: rgb(178,223,52);
	font-size: 5rem;
	transition: 0.5s;
}
#titreSecondaire p
{
	margin: 0;
	color: rgb(178,223,52);
	font-family: 'Amatic SC', cursive;
	font-size: 4rem;
	transition: 0.7s;
}
header img{
	padding: 1rem;
	width: 120px;
	transition: 0.6s;
}
#logoEnTete{
	text-align: center;
}
/* NAVIGATION */
nav ul li {
	display: inline-block;
	font-weight: 400;
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	transition: 0.6s;
}
ul .red {
	color: coral!important;
}

nav ul li:hover {
	color: rgb(202, 233, 119);
}
nav ul{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 0;
	margin: 0;
	transition: 0.6s;
}
nav{
	background-color: rgb(49, 49, 49);
}
.welcome{
	margin: 0!important;
}
.menu{
	position: absolute;	
	display: none;
	z-index: 25;
}
.is-active .menu{
	display: block;
}
.listeMenu{
	display: flex;
	flex-direction: column;
	background-color: rgb(49, 49, 49);
	padding: 1rem!important;
	width: 200px;

}
.listeMenu li{
	margin-top: 0.5rem;
}
/* PRESENTATION */
.presentation img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
	-ms-filter: "FlipH";
	
	max-width: 100%;
}

/* METHODES */
.methodes .methode{
	display: flex;
	justify-content: space-around;
}
.methode{
	padding-top: 6rem;
	padding-bottom: 3rem;
	
}
.methode img{
	width: 250px;
	padding: 15px;
	transition: transform 0.6s;
}
.methode img:hover{
	transform: translatey(-3rem);
	
}
.methode p{
	font-weight: bold;
	font-size: 1.6rem;
	color: rgb(112, 145, 22);
	text-align: center;
	transform: translatey(-2rem);
	z-index: -1;
}
.retour{
	color: rgb(112, 145, 22);
	font-weight: 400;
	font-size: 1.2rem;
}
.retour:hover{
	color: rgb(248, 247, 234);
}
.image{
	margin-top: 145px;
	background-image: url('../img/methodes/sunset.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 700px;
	
}
.titre_methode{
	text-align: center;
	padding-top: 2rem;
}

/* REIKI */
.reiki img{
	width: 150px;
	display: flex;
	justify-content: center;
	margin: 1rem auto;
}

/* TARIFS */

.tarifs h3{
	text-align: center;
	padding-top: 2rem;
}
.tarifs table{
	width: 800px;
	margin: auto;
	margin-bottom: 2rem;
}
.tarifs td{
	padding: 0.6rem 2rem;
	min-width: 250px;
}
.tarifs td:first-child{
	font-weight: bold;
}
.tarifs td:nth-child(2){
	text-align: center;
}
.tarifs td:last-child{
	text-align: end;
}

/* CONTACT */
.adresse{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}
.adresse p{
	text-align: center;
}
h4{
	color: rgb(112, 145, 22);
}

form{
	padding: 3rem 4rem;
	display: flex;
	flex-direction: column;
	background-color: rgb(238, 238, 238);
	-moz-box-shadow: 0px 0px 20px 0px #cfcfcf;
	-webkit-box-shadow: 0px 0px 20px 0px #cfcfcf;
	-o-box-shadow: 0px 0px 20px 0px #cfcfcf;
	box-shadow: 0px 0px 20px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=20);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.demi{
	display: flex;
	justify-content: space-between;
}
#firstName,
#lastName{
	width: 48%;
}
input, textarea, select {
	width: 100%;
	font-family: 'Courier New', Courier, monospace;
	border: 2px solid rgb(112, 145, 22);
	border-radius: 2rem;
	margin: 8px 0;
	padding: 10px 30px;
}
.submit{
	background-color: rgb(178,223,52);
	color: white;
	width:10rem;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	justify-content: center;
	margin: 1rem auto -4.5rem auto;
}
#map{
	min-height: 300px;
	width: 90%;
	margin: 0 auto;
	z-index: 1;
}
/* .leaflet-control-zoom {
	display:none;
} */

/* CONNEXION */
.connexion{
	padding-top: 200px;
	max-width: 1200px;
	margin: auto;
}

/* RENDEZ-VOUS */
.past{
	color: rgb(190, 190, 190);
}

/* FICHE PATIENT */
.fichePatient-content{
	position: fixed;
	max-width: 550px;
	margin-top: 50px;
}
 #resume .fichePatient-content{
	 position: static;
	 margin-top: 25px;
 }

@media screen and (max-width: 1199px){

	#titrePrimaire h1{
		font-size: 4rem;
	}
	#titreSecondaire p{
		font-size: 3rem;
	}
	header img{
		padding: 0.5rem;
		width: 90px;
	}
	nav ul li{
	font-size: 0.8rem;
	}
	nav ul{
		padding: 0.5 0;
	}
}

@media screen and (max-width: 990px){
	#contact .demi{
		flex-direction: column;
	}
	#firstName,
	#lastName{
		width: 100%;
	}
}


@media screen and (max-width: 767px){

	header{
		position: static;
	}
	#titrePrimaire {
		justify-content: center;
	}
	#titrePrimaire h1{
		text-align: center;
	}
	#titreSecondaire{
		justify-content: center;
	}
	nav ul {
		display: flex;
		flex-direction: column;
	}
	nav ul li {
		font-size: 1.5rem;
		text-align: center;
	}
	.rouleau, .image{
		margin-top: 20px;
	}
	#presentation img{
		display: none;
	}
	.methode{
		padding-top: 0.5rem;
		padding-bottom: 1rem;
	}
	.tarifs table{
		width: 0;
		max-width: 375px;
	}
	.tarifs tr{
		max-width: 100%;
	}
	.tarifs td{
		min-width: 0;
		max-width: 250px;
		padding: 0.6rem 1.2rem;
	}
	#contact form{
		display: none;
	}
	.hamb{
		display: flex;
		margin-top: -36px;
		justify-content: flex-end;
	}
	.hamburger{
		width: 20%;
		
	}
	.demi{
		flex-direction: column;
	}
	#firstName,
	#lastName{
		width: 100%;
	}
	.titre{
		text-align: center;
	}
	.userTag{
		z-index: 25;
		width: 75%;
	}
	.connexion{
		padding-top: 20px;
	}
	.connexion form{
		margin-bottom: 30px;
	}
	.connexion a{
		padding-bottom: 15px;
	}
	.err404{
		font-size: 1rem;
		width: 250px;
	}
	
}