<?php include "templates/head.phtml" ?>
    <body>   
    <!-- HEADER & NAV     -->
    <?php include "templates/header.phtml" ?>
    <div class="rouleau">
    <!-- PRESENTATION -->
        <section id="presentation" class="container presentation">
            <article class="row ">
                <div class="col-md-3">
                    <img src="../img/aurelie.jpg" alt="photo-AC">
                </div>
                <div class="col-md-9">
                    <h3>Qui suis-je ?</h3>
                    <p>Afin que vous puissiez m’apprécier avant une première rencontre, voici un préambule. Je me prénomme Aurélie. Je suis naturopathe diplômée de l'école ENA & MNC (certifiée par l'OMNES), où j'ai suivi une formation remplie de sens et d'apprentissage en pleine nature Jurassienne. Je suis également praticienne Reiki de la lignée Usui. J'ai d'abord été initiée, en Equateur, de manière très naturelle, consciente, intuitive et bienveillante par une merveilleuse personne, maître Reiki. A mon retour en France, j'ai poursuivi mon apprentissage pour devenir à mon tour maître et enseignante Reiki.</p>
                </div>
            </article>
            <article class="row">
                <div class="col-md-9">
                    <h3>Mon parcours</h3>
                    <p>J'ai un parcours peu conventionnel. Animée d'une curiosité et d'une envie d'apprentissage perpétuelle, plus jeune, j'étais attirée entre autre, par la psychologie et les sciences, par l'art et l'imaginaire. Je me destinais d'abord aux domaines artistiques, par les arts appliqués et la photographie. Me mettant à l'écoute d'une (hyper)sensibilité particulière, et développant une ouverture d'esprit, je voulais découvrir le monde, partager et transmettre par ses biais. Ma propension à toujours tout remettre en question, à philosopher, à chercher le pourquoi du comment, ajoutées à cela une sensibilité et une empathie que j'ai dû apprivoiser, un besoin de voir les autres aller bien, de ressentir l'harmonie, m'ont poussée vers les questions du bien-être (du mien et de celui des autres).</p>
                    <p>Puis j'ai eu besoin de comprendre le monde d'une manière plus globale, m'envolant vers d'autres horizons, parmi lesquels l'Amérique du Sud et l'Inde, où j'ai passé plusieurs années fortes d'enrichissement personnel. J'y ai approfondi mes ressentis, mes intuitions, mes connaissances de moi-même et de l'autre, envisagé une autre façon de percevoir le monde et pris conscience d'une certaine reliance. J'ai appris à remettre en perspective ce que qui est admis comme vérité, à laisser l'espace aux possibilités et à « ce qui doit être ». J'ai compris à quel point tout est subjectif. J'ai rencontré toutes sortes de « médecins » du corps et de l'âme, des cultures où il est encore admis que le corps et l'esprit sont indissociables. Et puis j'ai pu toucher du doigt la merveilleuse médecine ancestrale indienne qu'est l'Ayurvéda.</p>
                    <p>Tout cela m'a colorée et guidée, m'a confortée dans ma vision holistique et m'a amenée à entreprendre une formation de naturopathie. J'ai pu explorer de nombreux domaines, expérimenter, apprécier, envisager diverses approches, vibrer avec certaines pour les intégrer à ma vie, et je souhaite aujourd'hui partager et perpétuer ce que j'ai pu apprendre, ce que l'on m'a transmis. Dans le respect et l'humilité. Accompagner, écouter en conscience, soutenir.</p>
                </div>
                <div class="col-md-3">
                    <img src="https://media.giphy.com/media/l378mwOYgL6NaCZIk/giphy.gif" alt="illustration">
                </div>
            </article>
        </section>
    <!-- NATURO -->
        <section id="naturo" class="container naturo">
            <h2>La Naturopathie</h2>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Qu'est ce que c'est ?</h3>
                        <p>La naturopathie est une pratique holistique de soin par des procédés naturels. C'est à dire que l'individu est pris en compte dans son ensemble physique, physiologique, émotionnel, mental… et que chacun de ses plans sont interconnectés.</p>
                        <p>Elle est en premier lieu préventive, dans le but de conserver la santé. Puis dans un deuxième temps elle accompagne lorsque des symptômes sont déjà présents. L’objectif du naturopathe est d'accompagner, de transmettre des clés afin de soulager et d'améliorer le confort de vie, puis de faire en sorte que la personne <strong>soit autonome, consciente, et responsable de son bien-être</strong>. D'une part en apprenant à se connaître : connaître son fonctionnement, ses besoins, ses spécificités, ses points forts, et les points qu'il faut soutenir. D’autre part en apprenant à y répondre : comment s'accompagner au mieux, comment prendre soin de soi, etc. Le tout est, d'apporter un soutien, d’aider à prendre du recul et avoir une autre perspective, de retrouver l'espoir et prendre conscience de ses propres capacités ou de son potentiel régénérateur, de trouver ses propres clés pour améliorer ou même retrouver un quotidien agréable.</p>
                        <p>C’est une méthode de soin qui ne se substitue jamais à la médecine conventionnelle, mais qui en est complémentaire.</p>
                    </div>
                    <div class="col-md-12">
                        <h3>Comment ca se passe ?</h3>
                        <p>Le premier rendez-vous d&#39;environ 1h30 permet de faire un bilan. C’est un entretien qui a pour but de mieux comprendre la personne, connaître ses besoins et ses attentes, saisir en partie son fonctionnement et ses désordres, trouver les causes profondes des éventuels déséquilibres. À la fin de cette séance, des conseils pour améliorer sont proposés. Les rendez-vous suivants sont d&#39;environ 50 min. Ils vont permettre d&#39;évaluer l’évolution, de faire les ajustements si nécessaire, de poursuivre le processus.</p>
                        <p>Pour cela, les outils en naturopathie sont nombreux, ils peuvent être différents d&#39;un naturopathe à l&#39;autre. L&#39;hygiène de vie est primordiale et le travail est dans un premier lieu axé sur cet objectif. Ensuite différentes méthodes naturelles peuvent être utilisées en fonction des besoins. Elles visent toutes à garder ou à ramener l&#39;équilibre, du corps, du cœur, du mental, de l&#39;émotionnel… de l&#39;être. Si besoin est, le naturopathe dirigera la personne vers un autre professionnel compétent.</p>
                    </div>
                    <div class="col-md-12">
                        <h3>Pour qui et pour quoi ?</h3>
                        <p>Elle est destinée à chaque personne désireuse de prendre soin d’elle, de faire un point, de se connaître, d&#39;améliorer son hygiène de vie, de retrouver son équilibre... Pour un bilan, un réajustement ou un changement plus global.</p>
                        <p>Tout âge et tout besoin peut être entendu.</p>
                        <p>Voici une liste non exhaustive :</p>
                        <ul class="listCircle">
                            <li>Accompagnement dans le soulagement de l'anxiété plus ou moins intense. Aider à soutenir ou même à dépasser certaines périodes d'angoisses. Accompagner des périodes difficiles en complément d'un suivi psychologique. </li>
                            <li>Gestion du stress, anxiété, dépression</li>
                            <li>Rééquilibrage alimentaire</li>
                            <li>Gestion des émotions</li>
                            <li>Fibromyalgie, spondylarthrite, … </li>
                            <li>Problèmes intestinaux</li>
                            <li>…</li>
                        </ul>
                    </div>
                </div>
        </section>        
    <!-- METHODES -->
        <section id="methodes" class="container methodes">
            <h2>Methodes</h2>
                <div class="row methode">
                    <div> 
                        <a href=""><img src="../img/methodes/FdB.jpg" alt="Fleurs de Bach"></a>
                    </div>
                    <div>
                        <a href=""><img src="../img/methodes/Alimentation.jpg" alt="Alimentation"></a> 
                    </div>
                    <div>
                        <a href=""><img src="../img/methodes/HE.jpg" alt="Huiles essentielles"></a>
                    </div>
                    <div>
                        <a href=""><img src="../img/methodes/Litho.jpg" alt="Lithothérapie"></a>
                    </div> 
                </div>
        </section>
    <!-- REIKI -->
        <section id="reiki" class="container reiki">
            <h2>Le Reïki USUI</h2>
            <h3>Qu'est ce que c'est ?</h3>
                <p>Le reiki est une méthode de soin qui a son origine au Japon. C'est une pratique énergétique par imposition des mains qui vise à la ré-harmonisation globale, en améliorant la circulation des énergies et permettant de retrouver ses propres capacités d'autoguérison ainsi qu'un fonctionnement optimal.</p>
                <img src="../img/reiki.png" alt="reiki">
            <h3>Comment ça se passe ?</h3>
                <p>Nous débutons par un court entretien afin de faire connaissance et connaître le motif de la venue. 
                    La séance se pratique habillé, allongé sur une table de massage ou assis si besoin. 
                    Après quelques minutes de préparation, je viens vers vous, je peux vous toucher ou non. Votre seul travail est d'accepter de recevoir ce qui est bon pour vous, de vous détendre.
                    Pendant la séance vous pouvez ressentir diverses sensations : picotements, chaleur, froid. Vous pouvez également avoir, l'espace d'un instant, des douleurs qui se libèrent. Il est possible aussi de voir des couleurs, des images, d'avoir un grand flux de pensées. Vous pouvez vous endormir, ou même ne rien ressentir. Toutes les sensations sont possibles et normales, l'énergie circule de manière intelligente, là où il est nécessaire de remplir, dénouer, faire circuler…</p>
                <p>On finit par un petit échange afin de revenir à soi, exprimer les ressentis, répondre aux questionnements.</p>
            <h3>Pour qui et pourquoi ?</h3>
                <p>Le Reiki est adapté à tous, bébé, enfant, ado, adulte, avec l'accord explicite de chacun. Il est utile dans bien des cas.</p>
                <p>Voici la liste de possibilités :</p>
                <ul class="listCircle">
                    <li>Anxiété</li>
                    <li>Fatigue</li>
                    <li>Trouble du sommeil</li>
                    <li>Douleurs</li>
                    <li>Fibromyalgie</li>
                </ul>
            <h3>Bienfaits</h3>
            <p>Il apporte relaxation, détente, calme mental, sérénité. Il peut contribuer à un esprit plus clair. Il permet de se renforcer, renforcer ses défenses immunitaires, mais également son mental et sa capacité à faire face. Il peut soulager les douleurs physiques et émotionnelles par une harmonisation des corps physiques et énergétiques.</p>    
        </section>
    <!-- TARIFS -->
        <section id="tarifs" class="container tarifs">
            <h2>Les Tarifs</h2>
                <h3>Naturopathie</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>- 1ère séance</td>
                                <td>1H30</td>
                                <td>70€</td>
                            </tr>
                            <tr>
                                <td>- Séance suivante</td>
                                <td>1H</td>
                                <td>60€</td>
                            </tr>
                        </tbody>
                    </table> 
                <h3>Reïki</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>- Soin reïki</td>
                                <td>60€</td>
                            </tr>
                            <tr>
                                <td>- Soin reïki à domicile</td>
                                <td>A voir par téléphone</td>
                            </tr>
                        </tbody>
                    </table>
        </section>
    <!-- CONTACT -->
        <section id="contact" class="container contact">
            <h2>Me contacter</h2>
            <div class="row">
                <div class="col-md-6 infoContact">
                    <div class="adresse">
                        <h4>Aurélie Contamine</h4>
                        <p>5 rue Pizay<br>69001 Lyon</p>
                        <p>07.69.12.39.94</p>
                        <p>aurelie.c.naturopathe@gmail.com</p>
                    </div>
                    <div id="map"></div>
                </div>
                <div class="col-md-6">
                <form action="contact.php" name="contact_form" method="POST">
                <?php if (!empty($_GET['success'])) : ?>
                    <div class="alert alert-success" role="alert"><?= $_GET['success'] ?></div>
                <?php elseif (!empty($_GET['err'])) : ?>
                    <div class="alert alert-danger" role="alert"><?= $_GET['err'] ?></div>
                <?php endif; ?>
                    <div class="demi">
                        <input type="text" id="firstName" name="firstName" placeholder="Prénom" requiered>
                        <input type="text" id="lastName" name="lastName" placeholder="Nom" requiered>
                    </div>
                    <input type="text" id="email" name="email" placeholder="email" requiered>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Ecrivez ici votre message" requiered></textarea>
                    <input type="submit" class="submit btn-Form" value="Envoyer">           
                </form>
                </div>
            </div>
        </section>
        
    </div> <!-- fin rouleau -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                macarte = L.map('map').setView([45.76691, 4.83517], 12);
                // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
                        // Il est toujours bien de laisser le lien vers la source des données
                        attribution: '© <a href="//osm.org/copyright">OpenStreetMap</a>',
                        minZoom: 1,
                        maxZoom: 20
                    }).addTo(macarte);
                var myIcon = L.icon({
                    iconUrl: "../img/ACmap.svg",
                    iconSize: [80, 95],
                    iconAnchor: [40, 90],
                    popupAnchor: [-3, -76],
                });
                var marker = L.marker([45.76691, 4.83517], { icon: myIcon }).addTo(macarte);
            })
    </script>
        
        <script src="../js/function.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
